/* imagenes */
.img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    transition: transform 3s;
  }
  
  .img:hover {
    transform: scale(1.3);
  }
  
  

h3{
    color:  #9fd5ff;
}

.row{
    margin-top: 70px;
}