body {
  background-image: url(../images/trail-sea-water-surface-boat.jpg);
  background-color: white;
  font-family: Arial, sans-serif;
  margin: 30px;
}

.card-container{
  margin-left: 100px;
  margin-right: 100px;
}

/* hover card */
.card:hover {
 background-color: rgb(224, 248, 240);
}

  h1{
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 40px;
      margin-top: 30px;
      margin-bottom: 30px;

  }

  .hr{
    color: rgb(0, 0, 0); /* Cambia el color a rojo */
    height: 1px; /* Cambia la altura a 2 píxeles */
    border: none; /* Quita el borde */
    background: black;
  }
  .card-2{
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
  }
  
  .filters-container {
    text-align: center;
  }
  
  .filter-container {
    display: inline-block;
    margin: 0 20px;
  }
  
  .filter-dropdown {
    display: inline-block;
    position: relative;
  }
  
  .filter-dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .filter-dropdown:hover .filter-dropdown-content {
    display: block;
  }
  
  .filter-item {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box; /* Añadido para evitar problemas de desbordamiento */
  }
  
  .card {
    flex-basis: 100%; /* Cambiado para que cada card ocupe una línea completa */
    background-color: #fff;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    align-items: center;
  }


