body {
    font-family: Arial, sans-serif;
    background-image: url(../images/reservayaa.jpg);
  }

.form-signin h1{
  font-size: 40px;
  /*posicion centrada*/
  text-align: center;
}

.form-group label{
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 2px;
}

.form-signin{
  margin-bottom: 2px;
}


  