body {
  font-family: Arial, sans-serif;
  background-image: url(../images/reservayaa.jpg);
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-logo {
  margin-bottom: 15px;
}

.form-signin h1 {
  font-size: 1px;
  /* Posicion centrada */
  text-align: center;
}

.form-group label {
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 2px;
}

.form-signin {
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn {
  margin-bottom: 5px;
}

/* Estilos responsive */
@media (max-width: 768px) {
  .container {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .login-logo {
    margin-bottom: 10px;
  }

  .form-group label {
    font-size: 13px;
  }
}
