body {
  font-family: Arial, sans-serif;
  background-image: url(../images/reservayaa.jpg);
}

/* enlace de p */
a:hover {
  color: #002be9;
  text-decoration-line: line-through ;
}
  
#custom-content{
   margin-right: 200px;
  margin-left: 200px;
  }
    


