body {
  font-family: Arial, sans-serif;
  background-image: url(../images/reservayaa.jpg);
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Enlace de p */
a:hover {
  color: #002be9;
  text-decoration-line: line-through;
}

#custom-content {
  margin-right: 200px;
  margin-left: 200px;
}

.login-box {
  background: #fff;
  border: 50px;
}

.form-check-label {
  display: inline-block;
  margin-left: 0.5rem;
}

.form-check {
  display: inline-block;
  vertical-align: middle;
}

.form-signin {
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn {
  margin-bottom: 5px;
}

/* Estilos responsive */
@media (max-width: 768px) {
  #custom-content {
    margin-right: 50px;
    margin-left: 50px;
  }
}
