/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Colores */
:root {
  --color-primario: #33B5E5;
  --color-secundario: #f8f8f8;
  --color-fondo: #FFF;
  --color-texto: #333;
}

/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--color-texto);
  background-color: var(--color-fondo);
}

a {
  text-decoration: none;
  color: var(--color-primario);
}


header {
    background-color: var(--color-primario);
    padding: 20px;
    color: var(--color-secundario);
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

nav {
	flex: 1;
	margin-left: 20px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}

li {
	margin-left: 20px;
    color: #FFF;
}

li:first-child {
	margin-left: 0;
}

h1 {
	margin: 0;
	font-size: 36px;
}

/* Secciones */
section {
  margin: 50px 0;
  padding: 20px;
  background-color: var(--color-secundario);
}

section h2 {
  margin: 0;
  font-size: 30px;
}

/* Destacados */
.destacados-container {
  display: flex;
  justify-content: space-between;
}

.destacado {
  width: 30%;
  text-align: center;
}

.destacado img {
  width: 400px;
  height: 400px;
}

.destacado h3 {
  margin: 20px 0;
  font-size: 25px;
}

.destacado p {
  margin: 10px 0;
  font-size: 20px;
}

.destacado a {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-primario);
  color: var(--color-secundario);
  font-weight: bold;
  border-radius: 25px;
  margin: 20px 0;
  transition: all 0.2s ease-in-out;
}

.destacado a:hover {
  background-color: var(--color-secundario);
  color: var(--color-primario);
  transform: scale(1.1);
}

/* Formulario de búsqueda */
form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 800px;
}

label {
  font-size: 20px;
  margin-right: 10px;
}

select,
input[type="date"] {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

button[type="submit"] {
  font-size: 20px;
  padding: 10px 20px;
  background-color: var(--color-primario);
  color: var(--color-secundario);
  font-weight: bold;
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
  border: none;
  cursor: pointer;
  }
  
  button[type="submit"]:hover {
  background-color: var(--color-secundario);
  color: var(--color-primario);
  transform: scale(1.1);
  }
  
  /* Pie de página */
  footer {
  background-color: var(--color-primario);
  color: var(--color-secundario);
  padding: 20px;
  text-align: center;
  }
  
  footer p {
  margin: 0;
  }
  
  footer a {
  color: var(--color-secundario);
  }