
<header>
        <a href="#" class="logo"><img href="#" src="{{ asset('images/logo.png') }}" alt="Cruceros López"></a>
        <nav>
            <ul>
                <li><a href="#">Mis reservas</a></li>
                <li>
                    <a href="#">Cruceros</a>
                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>

